<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerTeacher'); -%>
  <body>
    <h1><%= LectureInformationShow.lecturename %></h1>
    <%- include('layouts/nav'); -%>

    <main>
      <div class="lecture-information">
        <h2><%= LectureInformationShow.lecturename %></h2>
        <p>Time and date: <time><%= LectureInformationShow.date %> - <%= LectureInformationShow.time %></time></p>
        <p>Teacher: <%= LectureInformationShow.firstname %> <%= LectureInformationShow.lastname %></p>
        <p>Location: <%= LectureInformationShow.location %></p>
        <p>Course: <%= LectureInformationShow.title %></p>
        <p><%= LectureInformationShow.comment %></p>


        <div id="removeLecture">
          <% if (user.userType === 'teacher' && user.id === lecture.teacher_id){ %>
            <button onclick="deleteLecture(<%= lecture.id %>)">
              Delete lecture
            </button>
          <% } %>
        </div>


        <div id="joinLecture">
          <% if (user.userType === 'student') { %>
            <form
                    action="/lecture"
                    method="POST"
                    enctype="application/x-www-form-urlencoded"
                    name="Join Lecture"
            >
              <input
                      type="text"
                      value="<%= LectureInformationShow.id %>"
                      style="display: none;"
                      name="lectureId"
              />
              <button type="submit">
                Join lecture
              </button>
            </form>
          <% } %>
        </div>


<p>Joined students:</p>
        <ul><% for (var i = 0; i < ListOfStudentsInformationShow.length; i++) {%> <li>
              <%= ListOfStudentsInformationShow[i].firstname %> <%= ListOfStudentsInformationShow[i].lastname %>
            <%}%> </li> </ul>
      </div>
    </main>



    <%- include('layouts/scripts'); -%>
  </body>
</html>
