<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerTeacher'); -%>
  <body>
    <h1>Lectures</h1>
    <%- include('layouts/nav'); -%>

    <main>
      <ul class="lecture-list">
        <% for (const lecture of lectures) { %>
        <li>
          <h3>
            <a href="/lecture/<%= lecture.id %>"><%= lecture.lecturename %></a>
          </h3>
        </li>
        <% } %>
      </ul>
    </main>

    <%- include('layouts/scripts'); -%>
  </body>
</html>
