<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/headerTeacher'); -%>
  <body>
    <h1><%= lecture.lecturename %></h1>
    <%- include('layouts/navTeacher'); -%>

    <main>
      <div class="lecture-information">
        <h2><%= lecture.lecturename %></h2>
        <time><%= lecture.formattedDate %> - <%= lecture.time %></time>
        <p><%= lecture.firstname %> <%= lecture.lastname %></p>
        <p><%= lecture.location %></p>
        <p><%= lecture.title %></p>
        <p><%= lecture.comment %></p>
      </div>
    </main>

    <div id="removeLecture">
      <% if (user.userType === 'teacher' && user.id === lecture.teacher_id){ %>
      <button onclick="deleteLecture(<%= lecture.id %>)">
        Delete lecture
      </button>
      <% } %>
    </div>

    <div id="joinLecture">
      <% if (user.userType === 'student') { %>
      <form
        action="/lecture"
        method="POST"
        enctype="application/x-www-form-urlencoded"
        name="Join Lecture"
      >
        <input
          type="text"
          value="<%= lecture.id %>"
          style="display: none;"
          name="lectureId"
        />
        <button type="submit">
          Join lecture
        </button>
      </form>
      <% } %>
    </div>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
